@font-face {
    font-family: 'Youtube Sans Medium';
    src: url('/fonts/youtube-sans-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Youtube Sans Bold';
    src: url('/fonts/youtube-sans-bold.ttf') format('truetype');
}

* { 
    margin: 0;
    padding: 0;
    font-family: 'Youtube Sans Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 58px 1fr;
}

nav {
    color: white;
    background-color: black;
    font-size: 28px;
    display: flex;
    flex-flow: row nowrap;
    gap: 5em;
    align-items: center;
    justify-content: space-between;
}
nav>* {
    display: flex;
    align-items: center;
}
nav .brand{
    font-family: 'Youtube Sans Bold', sans-serif;
}
nav .brand span>sup {
    position: absolute;
    top: 1em;
    font-size: 12px;
}
nav .center {
    flex-grow: 1;
}
nav:last-child {
    margin-left: auto;
}
nav * {
    align-items: center;
}
nav>#center {
    flex-grow: 1;
    
}
button {
    height: 64px;
    width: 64px;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    border: solid thin transparent;
    cursor: pointer;
}
button:hover {
    background-color: rgba(128, 128, 128, 0.452);
}
button>img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    aspect-ratio: 1/1;   
}
.search-form {
    display: flex;
    flex-flow: row;
    flex:1;
    border-radius: 40px;
    margin-left: 40px;
    background-color: rgba(65, 64, 64, 0.726);
}
.search-form>.bar{
    margin: 0 4px;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.search-form input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    font-size: 24px;
    border-radius: 40px 0 0 40px;
    background-color: #000000;
    color:  #ffff;
    border: none;
    outline: none;
}
.search-form input[type="text"]::placeholder {
    color: #414040b9
}
.search-form input[type="text"]:focus {
    border: none;
    outline: none;
}
.search-form button#clear-search-button {
    display: block;
}
.search-form button#clear-search-button.hidden {
    display: none;
}
.search-form button#submit-search-button {
    border-radius: 0 40px 40px 0;
    border: none;
}

nav#vertical-nav {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 0em;
}

nav#vertical-nav button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}





main {
    color: #fff;
    background-color: #111111;
}
main.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 64px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
